In [1]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import winsorize
import matplotlib.pyplot as plt
import seaborn as sns

## Text and Time Methods

In [2]:
"hello".upper()

'HELLO'

In [3]:
orders = pd.read_table("http://bit.ly/chiporders")
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
orders[orders.item_name.str.contains("Chicken")]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
orders.choice_description.str.replace("[\[\]]","")

C:\Users\win7\AppData\Local\Temp/ipykernel_2404/836119646.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  orders.choice_description.str.replace("[\[\]]","")

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

## Zaman Yöntemleri

In [5]:
from datetime import datetime

In [8]:
now = datetime.now()
print(now)

2022-01-29 09:14:43.894526

In [22]:
print(now.time())

16:30:41.175191

In [34]:
print(now.day)

27

In [35]:
print(now.month)

1

In [36]:
print(now.year)

2022

In [37]:
print(now.strftime("%d"))

27

In [38]:
print(now.strftime("%m"))

01

In [39]:
print(now.time())

16:33:28.433280

In [40]:
print(now.strftime("%B"))

January

In [41]:
print(now.strftime("%W"))

04

In [42]:
str1 = "2022-01-27"
date1 = datetime.strptime(str1, "%Y-%m-%d")

In [43]:
print(date1)

2022-01-27 00:00:00

In [44]:
print(date1.day)

27

In [45]:
from datetime import timedelta 
import datetime

In [47]:
h = datetime.datetime.now()
on_gun_sonrası  = h + timedelta(days=10)
print(on_gun_sonrası)

2022-02-06 16:46:16.078074